
<form>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" #newTitle>
   
  </div>
  <div class="mb-3">
    <label for="link" class="form-label">Link: </label>
    <input type="text" name="link" class="form-control" id="link" #newLink>
  </div>
  
  <button type="submit" (click)="addArticle(newTitle, newLink)" class="btn btn-sm btn-primary ">Submit</button>
</form>

<app-article *ngFor="let article of sortArticle()" [article]="article"></app-article>

<!--The # here is called a resolve-->